.list{
    float: right;
}
.logo{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    
}
.slide{
    height: 500px;
    width: 100%;
}

.sliders{
    background-image: url(../Assets/images.jpg);
    height: 500px;
    width: 1350px;
    background-size: cover;
    background-repeat: no-repeat;
}
