.icons{
    margin: 5px;  
    margin-right: 9px;  
}
.para{
    font-size:larger ;
    
}
nantume{
    background-attachment: fixed;
    padding:100%
}
.haz{
    margin-left: 40px;
}
.him{
    margin-right: 50px;
}
.her{
    margin-left: 40px;
}
.mine{
    margin-left: 2px;
}
.yours{
    margin-right: 20px;
}  */
footer{
    bottom: 0 ;
}
.contact{
   margin-right: 300px;
   /* margin-left: 50px; */
}
/* .mobileForm{
   display: flex;
   justify-content: center;
   justify-items: center;
    margin-top: 910px;
} */

/* @media only screen and (max-width: 600px) {
    .mobileForm {
        margin-top: 910px;
        width:100%;
        right: 100px;
    }
    .contact{
        text-align: center;
    }
} */
