.icons{
    margin: 5px;  
    margin-right: 9px;  
}
.para{
    font-size:larger ;
    
}
nantume{
    background-attachment: fixed;
    padding:100%
}
.haz{
    margin-left: 40px;
}
.him{
    margin-right: 50px;
}
.her{
    margin-left: 40px;
}
.mine{
    margin-left: 2px;
}
.yours{
    margin-right: 20px;
}  */
footer{
    bottom: 0 ;
}